<div class=" jumbotron col-md-6">
<h3 style=" text-align: center;"> LOG IN </h3>
<br>
<form class="form-horizontal" name="iform">
    <div class="alert alert-danger" role="alert" ng-show="iform.$dirty && !iform.$valid">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
          Enter a valid credentials!
    </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" ng-model="useremail" placeholder="Email" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
   <br><br><p><br></p><p><br></p>
  <div class="form-group" style=" text-align: center;">
    <div class="col-sm-12 ">
      <button type="submit" class="btn btn-primary" ng-click="signin()">Sign In</button>
    </div>
  </div>
</form>
</div>
<div class="v1" style="
    border-left: 3px dotted grey;
    height: 490px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 120px;
"></div>
<div class=" jumbotron col-md-6">
<h3 style=" text-align: center;"> REGISTER </h3>
<br>
<form class="form-horizontal" name="soform" ng-submit="singup()" >
<div class="alert alert-danger" role="alert" ng-show="er">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
         {{ er }}
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="usersname" placeholder="Name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" ng-model="usersemail" placeholder="Email" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="userspass" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Retype-Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" ng-model="usersrpass" placeholder="Password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group" style=" text-align: center;">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary" >Sign Up</button>
    </div>
  </div>
</form>
</div>